# Discord Wev Hook
wh_id = ''
wh_token = ''

# Google Sheets
override_workbook = ''
override_sheet = ''

# Faction Settings
myfaction = Canonn
# Currently in Exntended Expansion (Last Expansion Failed) ? You will have to manually change this as it occurs. No provider has this information
extendedphase = False

# Inf % of expanding system to consider for mission message
invasionparanoialevel = 70
# Player Factions to treat as NPCs (not a threat), either because they are inactive or other reasons
ignorepf = The Digiel Aggregate,Eternal Sunrise Association,Interstellar Incorporated,Lagrange Interstellar,FDMA Security Service,Wings Of Justice,Marquis du Ma'a


