# Discord Wev Hook
wh_id = ''
wh_token = ''

# Google Sheet : 
override_workbook = ''

# Faction Settings
myfaction = Canonn
# Currently in Extended Expansion (Last Expansion Failed) ? You will have to manually change this as it occurs. No provider has this information
extendedphase = False

# Inf % of expanding system to consider for mission message
invasionparanoialevel = 70
# Player Factions to treat as NPCs (not a threat), either because they are inactive or other reasons
ignorepf = The Digiel Aggregate,Eternal Sunrise Association,Interstellar Incorporated

# System Name to use to monitor Expansion State. Something that gets updated regularly
lighthousesystem = ''